/* 群組選取 */
/* html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,div,nav {
    margin: 0;
    padding: 0;
    border: 0;
} */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Segoe UI";
}
.container {
    width: 1000px;
    margin: auto;
}
.row {
    display: flex;
}
nav {
    position: fixed;
    width: 100%;
}
nav .container {
    justify-content: space-between;
    align-items: center;
}
.nav-toggle {
    display: none;
}
/* 空格 後代選取 */
nav .logo {
    text-align: center;
}
nav .logo h1 {
    letter-spacing: 2px;
}
nav a {
    color: #000;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
}

/* header */
header {
    padding-top: 300px;
    padding-bottom: 300px;
    background-image: url("https://picsum.photos/id/24/1800/600");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header .content {
    /* flex: 0 0 calc(100% / 3) */
    width: calc(100% / 3);
}
header h2 {
    font-size: 36px;
}
header p {
    margin-top: 30px;
    margin-bottom: 30px;
}