nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
}
nav .container {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.nav-toggle {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
/* 空格 後代選取 */
nav .logo {
    text-align: left;
    width: 100%;
    padding-left: 15px;
}
nav .logo h1 {
    letter-spacing: 2px;
}
nav a {
    color: #000;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    display: block;
    border-bottom:1px solid #aaa
}
nav .nav-menu {
    width: 100%;
    line-height: 50px;
    display: none;
}
/* header */
header {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("https://picsum.photos/id/24/1800/600");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header .content {
    /* flex: 0 0 calc(100% / 3) */
    /* width: calc(100% / 3); */
    width: 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
header p {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* 區塊上下padding 100px */
#about, #pets, #help, #contact {
    padding-top: 100px;
    padding-bottom: 100px;
}
/* about */
#about .container {
    align-items: center;
}
#about .content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
#about p {
    margin-bottom: 30px;
}
/* pets */
#pets {
    background-color: #f0f0f0;
}
#pets .title {
    width: 100%;
    text-align: center;
}

#pets .content {
    padding: 15px;
    text-align: center;
    /* flex: 1 0 calc(100% / 3 - 40px); */
    flex: 1 0 calc(100% - 40px);
}
#pets .pet {
    background-color: #fff;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px 20px;
    transition: .3s;
}
#pets .pet:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.404);
}
#pets h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}
/* help */
#help .container {
    justify-content: center;
}
#help .title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
/* #help .title h2 {
    font-size: 36px;
} */
#help .content {
    flex: 0 0 calc(100% / 3);
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-bottom: 50px;
}
#help .content i {
    color: #ff9e9e;
}
#help .content h4 {
    margin-top: 15px;
}
/* contact */
#contact {
    background-color: #f0f0f0;
}
#contact .container {
    align-items: center;
}
#contact .content {
    width: calc(100%);
    padding-left: 15px;
    padding-right: 15px;
}
#contact p {
    margin-bottom: 30px;
}
#contact .bank {
    background-color: #ff9e9e;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}
/* footer */
footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #160e0e;
    color: #cfcfcf;
}
footer .container {
    align-items: center;
}
footer .content {
    flex: 0 0 calc(100%);
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
}
footer li {
    list-style: none;
    margin-bottom: 15px;
}
