/* 群組選取 */
/* html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,div,nav {
    margin: 0;
    padding: 0;
    border: 0;
} */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Segoe UI";
    box-sizing: border-box;
}
img {
    width: 100%;
}
.container {
    width: 1000px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
nav {
    position: fixed;
    width: 100%;
}
nav .container {
    justify-content: space-between;
    align-items: center;
}
.nav-toggle {
    display: none;
}
/* 空格 後代選取 */
nav .logo {
    text-align: center;
}
nav .logo h1 {
    letter-spacing: 2px;
}
nav a {
    color: #000;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
}

/* header */
header {
    padding-top: 300px;
    padding-bottom: 300px;
    background-image: url("https://picsum.photos/id/24/1800/600");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header .content {
    /* flex: 0 0 calc(100% / 3) */
    width: calc(100% / 3);
}
header h2 {
    font-size: 36px;
}
header p {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* button */
.btn {
    color: #000;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #ff9e9e;
    border-radius: 50px;
    display: inline-block;

    transition: .3s;
}
.btn:hover {
    background-color:  #ff2b2b;
    color: #fff;
}
.btn-outline {
    color: #000;
    text-decoration: none;
    padding: 15px 30px;
    border: 1px solid #ff9e9e;
    border-radius: 50px;
    display: inline-block;
    transition: .3s;
}
.btn-outline:hover {
    background-color: #ff9e9e;
}

/* about */
#about {
    padding-top: 100px;
    padding-bottom: 100px;
}
#about .container {
    align-items: center;
}
#about .content {
    width: calc(100% / 2);
    padding-left: 15px;
    padding-right: 15px;
}
#about h2 {
    font-size: 36px;
    margin-bottom: 30px;
    line-height: 36px;
}
#about p {
    margin-bottom: 30px;
}
/* pets */
#pets {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e6e6e6;

}
#pets .title {
    width: 100%;
    text-align: center;
}
#pets h2 {
    font-size: 36px;
}
#pets .content {
    padding: 15px;
    text-align: center;
    flex: 1 0 calc(100% / 3 - 40px);
}
#pets .pet {
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: .3s;
}
#pets .pet:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.404);
}
#pets h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}